# Xilinx cruft

_xmsgs
xlnx_auto_0_xdb
xst

*.bgn
*.bld
*.cfi
*.drc
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.pad
*.par
*.pcf
*.prm
*.psr
*.ptwx
*.twr
*.twx
*.unroutes
*.xpi

*_bitgen.xwbt
*_ngdbuild.xrpt
*_pad.csv
*_pad.txt
*_summary.xml
*_usage.xml
*_xst.xrpt
*_map.xrpt
*_par.xrpt

_impactbatch.log
_impact.cmd
_impact.log
netlist.lst
usage_statistics_webtalk.html
webtalk.log
