# Simulation output

a.out
test_sys.lxt

# Xilinx cruft

_impactbatch.log
_xmsgs
*.bgn
*.bit
*.bld
*.drc
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.pad
*.par
*.pcf
*.ptwx
*.unroutes
*.xpi

*_bitgen.xwbt
*_ngdbuild.xrpt
*_pad.csv
*_pad.txt
*_summary.xml
*_usage.xml
*_xst.xrpt
*_map.xrpt
*_par.xrpt
netlist.lst
usage_statistics_webtalk.html
webtalk.log

xlnx_auto_0_xdb
xst
